
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FFCE04;
}

.loginContainer {
    margin: 0rem 2rem;
    position: relative;
}

.circle {
    width: 10rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle:first-child {
    left: 70px;
    top: 100px;
    background: linear-gradient(#240E0B, #FFFFFF);
}

.circle:nth-child(2) {
    right: 70px;
    bottom: 100px;
    background: linear-gradient(164deg, #effd25fc, #464432);
}


.loginForm form {
    top: 50%;
    left: 50%;
    width: 16rem;
    height: 22rem;
    max-width: 320px;
    position: absolute;
    padding: 50px 35px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(151, 144, 36, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.13);
}


form * {
    border: none;
    outline: none;
    color: #3a3f27;;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

.title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.inputGroup label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.inputGroup input {
    width: 92%;
    height: 40px;
    display: block;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    background-color: rgba(36, 36, 36, 0.068);
}

::placeholder {
    color: #00000059
}

.submitForm {
    width: 100%;
    margin-top: 30px;
    color: #FFFFFF;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: #66722f;
}

.loginLink {
    display: block;
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #66722f;
    text-decoration: none;
}

.loginLink:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}